body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}
.container {
    text-align: center;
}
.gif_container img {
    width: 300px;
    height: auto;
}
.buttons {
    margin-top: 20px;
}
.btn {
    padding: 15px 30px;
    font-size: 18px;
    margin: 10px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}
#yesButton {
    background-color: green;
    color: white;
}
#noButton {
    background-color: red;
    color: white;
    position: absolute;
}